<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collaborative Filtering</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Recommendation System Based on Content</h1>
        <h4 class="text-secondary">Recommended Movies similar to "{{ movie_name }}"</h4>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center" style="width: 8%">ID</th>
                    <th>Title</th>
                    <th class="text-center">Similarity Score</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                <tr>
                    <td class="text-center" style="width: 8%">{{ movie["id"] }}</td>
                    <td>{{ movie["title"] }}</td>
                    <td class="text-center">{{ movie["similarity_score"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

