<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Recommendation System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
    <style>
        h4 {
            margin-top: 40px;
        }
    </style>
<body>
    <div class="container mt-5">
        <h1>Movies Recommendation System</h1>
        <h4>Web Interface Endpoints</h4>
        <ul>
            <li><a href="/popularity">Popularity-Based Recommendations</a></li>
            <li><a href="/content/Interstellar">Content-Based Recommendations</a> (Sample movie: "Interstellar")</li>
            <li><a href="/collaborative/99">Collaborative-Based Recommendations</a> (Sample user: 99) </li>

        </ul>

        <h4>API Endpoints</h4>
        <ul>
            <li><a href="/api/popularity">/api/popularity</a> - Get popularity-based recommendations</li>
            <li><a href="/api/content/Interstellar/10">/api/content</a> - Get content-based recommendations (Path params: movie_name="Interstellar", num_movies=10)</li>
            <li><a href="/api/collaborative/99">/api/collaborative</a> - Get collaborative-based recommendations (Path params: user_id=99)</li>
        </ul>

        <h4>API Documentation</h4>
        <ul>
            <li><a href="/docs">Swagger UI</a> - Interactive API documentation</li>
            <li><a href="/redoc">ReDoc</a> - Alternative API documentation</li>
        </ul>

        <p>Use the API endpoints to retrieve data in JSON format for integration with other applications.</p>
    </div>
</body>
</html>
